<a href="https://colab.research.google.com/github/abelsare348/codes/blob/pyspark/Pyspark/Cast_Substring_Avg_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
from pyspark import SparkContext
from pyspark.sql import SparkSession

In [64]:
from pyspark.sql.types import StructType,StructField,IntegerType,StringType,FloatType

In [8]:
spark=SparkSession.builder.appName("spark_app").master("local").getOrCreate()

In [6]:
Employee_Schema=StructType([StructField("id",IntegerType(),True),
                            StructField("first_name",StringType(),True),
                            StructField("last_name",StringType(),True),
                            StructField("gender",StringType(),True)])

In [81]:
Employee_df=spark.read.schema(Employee_Schema).option("header",True).csv("/content/Employee.csv")

In [20]:
Employee_df.show(5)

+---+----------+----------+------+
| id|first_name| last_name|gender|
+---+----------+----------+------+
|  1|     Moise|    Coveny|  Male|
|  2|  Claudius|Wickersham|  Male|
|  3|     Mateo|   Redmond|  Male|
|  4|    Finlay|     Salla|  Male|
|  5|   Rudyard| Brockbank|  Male|
+---+----------+----------+------+
only showing top 5 rows

In [21]:
Employee_df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- gender: string (nullable = true)

In [22]:
Employee_Address_Schema=StructType([StructField("id",IntegerType(),True),
                                    StructField("email",StringType(),True),
                                    StructField("ip_address",StringType(),True)])

In [24]:
Employee_Address_df=spark.read.schema(Employee_Address_Schema).option("header",True).csv("/content/Employee_Address.csv")
Employee_Address_df.show(10)

+---+--------------------+---------------+
| id|               email|     ip_address|
+---+--------------------+---------------+
|  1|swinterburn0@dail...|   34.78.27.108|
|  2|aarnaldo1@eepurl.com| 190.52.131.147|
|  3|    dbuzek2@1688.com| 152.198.169.97|
|  4| sduffyn3@tumblr.com| 10.233.235.146|
|  5|   mmeeke4@jigsy.com|    59.27.18.36|
|  6|prosenblath5@live...|   12.66.142.55|
|  7|   bbuddle6@yale.edu| 58.191.128.163|
|  8|slindeberg7@topli...|  180.250.88.89|
|  9|ltwiddell8@zdnet.com|212.122.136.101|
| 10|  fgiberd9@prweb.com|   18.6.137.101|
+---+--------------------+---------------+
only showing top 10 rows

In [25]:
Employee_Address_df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- email: string (nullable = true)
 |-- ip_address: string (nullable = true)

Cast Keyword

In [67]:
Employee_Address_df.withColumn("id",F.col("id").cast(FloatType())).show()

+----+--------------------+---------------+
|  id|               email|     ip_address|
+----+--------------------+---------------+
| 1.0|swinterburn0@dail...|   34.78.27.108|
| 2.0|aarnaldo1@eepurl.com| 190.52.131.147|
| 3.0|    dbuzek2@1688.com| 152.198.169.97|
| 4.0| sduffyn3@tumblr.com| 10.233.235.146|
| 5.0|   mmeeke4@jigsy.com|    59.27.18.36|
| 6.0|prosenblath5@live...|   12.66.142.55|
| 7.0|   bbuddle6@yale.edu| 58.191.128.163|
| 8.0|slindeberg7@topli...|  180.250.88.89|
| 9.0|ltwiddell8@zdnet.com|212.122.136.101|
|10.0|  fgiberd9@prweb.com|   18.6.137.101|
|11.0|fbremmera@springe...| 31.136.129.115|
|12.0|mlosemannb@wordpr...|   70.77.28.176|
|13.0|bruslenc@howstuff...|   53.173.28.28|
|14.0|byanceyd@vkontakt...| 249.180.94.200|
|15.0|lbigadikee@weathe...|  84.221.41.155|
|16.0|dwillmettsf@opera...| 66.107.103.162|
|17.0|asnyderg@domainma...| 148.137.122.44|
|18.0|gstirlandh@meetup...| 220.248.198.80|
|19.0|qgetteni@livejour...|  31.171.134.25|
|20.0|ipridittj@shop-pr...|135.247.148.136|
+----+--------------------+---------------+
only showing top 20 rows

countDistinct - a function in pyspark which will give count based on distinct values of column specified.

In [69]:
Employee_df.select(F.countDistinct("first_name")).show()

+-----------------+
|count(first_name)|
+-----------------+
|              100|
+-----------------+

Substring Function

In [73]:
Employee_df.withColumn("substring_col",F.substring(F.col("first_name"),0,2)).show(5)

+---+----------+----------+------+-------------+
| id|first_name| last_name|gender|substring_col|
+---+----------+----------+------+-------------+
|  1|     Moise|    Coveny|  Male|           Mo|
|  2|  Claudius|Wickersham|  Male|           Cl|
|  3|     Mateo|   Redmond|  Male|           Ma|
|  4|    Finlay|     Salla|  Male|           Fi|
|  5|   Rudyard| Brockbank|  Male|           Ru|
+---+----------+----------+------+-------------+
only showing top 5 rows

In [83]:
Employee_df=Employee_df.withColumn("Salary",F.when(F.col("gender")=='Male',50000).when(F.col("gender")=='Female',40000).otherwise(30000))

In [84]:
Employee_df.show()

+---+----------+-----------+------+------+
| id|first_name|  last_name|gender|Salary|
+---+----------+-----------+------+------+
|  1|     Moise|     Coveny|  Male| 50000|
|  2|  Claudius| Wickersham|  Male| 50000|
|  3|     Mateo|    Redmond|  Male| 50000|
|  4|    Finlay|      Salla|  Male| 50000|
|  5|   Rudyard|  Brockbank|  Male| 50000|
|  6|    Joanie|    Kembley|Female| 40000|
|  7|      Zane|  Cahillane|  Male| 50000|
|  8|    Davida|   Doubrava|Female| 40000|
|  9|    Anjela|     Wackly|Female| 40000|
| 10|       Ari| Larkworthy|  Male| 50000|
| 11|    Elmira| Goldthorpe|Female| 40000|
| 12|   Maynard|     Ponten|  Male| 50000|
| 13|       Dom|   Dallaway|  Male| 50000|
| 14|      Dene|Philliskirk|  Male| 50000|
| 15|   Phillip|    Tillard|  Male| 50000|
| 16|     Tommy|   Blackway|  Male| 50000|
| 17|      Wren|     Geator|Female| 40000|
| 18|  Caroline|    Daubney|Female| 40000|
| 19|Margarethe|    Tollett|Female| 40000|
| 20|      Sula|  Pitkethly|Female| 40000|
+---+----------+-----------+------+------+
only showing top 20 rows

Avg Function

In [93]:
Employee_df.select(F.avg("salary")).show()

+-----------+
|avg(salary)|
+-----------+
|    44700.0|
+-----------+