<a href="https://colab.research.google.com/github/abelsare348/codes/blob/pyspark/Pyspark/window_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.3.tar.gz (317.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.3/317.3 MB 4.9 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.3-py2.py3-none-any.whl size=317840625 sha256=912a289d25ead764fb2ede8457707ff34d2257c4e3dada6d85044eb8e8529fd7
  Stored in directory: /root/.cache/pip/wheels/1b/3a/92/28b93e2fbfdbb07509ca4d6f50c5e407f48dce4ddbda69a4ab
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.3

In [79]:
from pyspark import SparkContext
from pyspark.sql import SparkSession

In [80]:
from pyspark.sql.types import StructType,StructField,IntegerType,StringType,FloatType

In [81]:
spark=SparkSession.builder.appName("spark_app").master("local").getOrCreate()

In [82]:
Employee_Schema=StructType([StructField("id",IntegerType(),True),
                            StructField("first_name",StringType(),True),
                            StructField("last_name",StringType(),True),
                            StructField("gender",StringType(),True),
                            StructField("salary",StringType(),True),
                            StructField("dept",StringType(),True)])

In [83]:
Employee_df=spark.read.schema(Employee_Schema).option("header",True).csv("/content/Employee1.csv")

In [84]:
Employee_df=Employee_df.withColumn("salary",F.substring("salary",2,len("salary")-1)).withColumn("salary",F.col("salary").cast("integer"))

In [85]:
Employee_df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: integer (nullable = true)
 |-- dept: string (nullable = true)

In [86]:
Employee_Address_Schema=StructType([StructField("id",IntegerType(),True),
                                    StructField("email",StringType(),True),
                                    StructField("ip_address",StringType(),True)])

In [87]:
Employee_Address_df=spark.read.schema(Employee_Address_Schema).option("header",True).csv("/content/Employee_Address.csv")
Employee_Address_df.show(10)

+---+--------------------+---------------+
| id|               email|     ip_address|
+---+--------------------+---------------+
|  1|swinterburn0@dail...|   34.78.27.108|
|  2|aarnaldo1@eepurl.com| 190.52.131.147|
|  3|    dbuzek2@1688.com| 152.198.169.97|
|  4| sduffyn3@tumblr.com| 10.233.235.146|
|  5|   mmeeke4@jigsy.com|    59.27.18.36|
|  6|prosenblath5@live...|   12.66.142.55|
|  7|   bbuddle6@yale.edu| 58.191.128.163|
|  8|slindeberg7@topli...|  180.250.88.89|
|  9|ltwiddell8@zdnet.com|212.122.136.101|
| 10|  fgiberd9@prweb.com|   18.6.137.101|
+---+--------------------+---------------+
only showing top 10 rows

In [88]:
Employee_Address_df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- email: string (nullable = true)
 |-- ip_address: string (nullable = true)

In [89]:
from pyspark.sql.window import Window
from pyspark.sql import functions as F

<b> Average Function <b>

In [90]:
Employee_df.withColumn("Avergae_salary",F.avg("salary").over(Window.partitionBy())).show(5)

+---+----------+---------+------+------+--------------------+--------------+
| id|first_name|last_name|gender|salary|                dept|Avergae_salary|
+---+----------+---------+------+------+--------------------+--------------+
|  1| Marmaduke| Akenhead|  Male| 36478|            Training|      35499.17|
|  2|    Corbin|    Prahm|  Male| 34566|Business Development|      35499.17|
|  3|   Halette|   Yersin|Female| 43506|Research and Deve...|      35499.17|
|  4|     Essie|  Quixley|Female| 20111|           Marketing|      35499.17|
|  5|  Brandice|   Boyles|Female| 28720|            Training|      35499.17|
+---+----------+---------+------+------+--------------------+--------------+
only showing top 5 rows

**Count Function**

In [91]:
Employee_df.withColumn("Gender_based_Count",F.count("*").over(Window.partitionBy("dept"))).show(55)

+---+----------+----------+-----------+------+--------------------+------------------+
| id|first_name| last_name|     gender|salary|                dept|Gender_based_Count|
+---+----------+----------+-----------+------+--------------------+------------------+
| 11|   Thornie|  Stidever|       Male| 38823|          Accounting|                10|
| 12|     Dawna|    Ambage|    Agender| 37374|          Accounting|                10|
| 13|   Hoebart|   Sillito|       Male| 29249|          Accounting|                10|
| 14|   Micaela|Josifovitz|     Female| 26098|          Accounting|                10|
| 32|    Nancee|   Sibbert|     Female| 22281|          Accounting|                10|
| 69|     Sheba|    Edwins|     Female| 34164|          Accounting|                10|
| 84|     Avrit|    Marrow|     Female| 48311|          Accounting|                10|
| 85|   Ardelia|    Bayley|     Female| 47814|          Accounting|                10|
| 91|       Ray|    Collop|     Female| 38947|          Accounting|                10|
| 92|    Mellie|   O'Brien|     Female| 48672|          Accounting|                10|
|  2|    Corbin|     Prahm|       Male| 34566|Business Development|                14|
| 10|    Laurie|   Burcher|       Male| 42245|Business Development|                14|
| 15|     Junie|  Prudence|     Female| 44986|Business Development|                14|
| 18|   Alameda|      Kira|     Female| 44039|Business Development|                14|
| 29|  Hendrika|    Belham|     Female| 27322|Business Development|                14|
| 41|   Rickert|   Farrand|       Male| 42256|Business Development|                14|
| 42|      Nana|    Meijer|     Female| 33268|Business Development|                14|
| 60|    Kylila|  Redholls|     Female| 46474|Business Development|                14|
| 62|  Elianore|   Sarjant|     Female| 29842|Business Development|                14|
| 70|   Osbourn|  Jordison|       Male| 23465|Business Development|                14|
| 71|  Waldemar|   Akister|       Male| 46323|Business Development|                14|
| 73|  Johnette|     Aasaf|     Female| 27811|Business Development|                14|
| 86|  Jermayne|Espinheira|       Male| 36733|Business Development|                14|
| 95|     Niall|  O'Reilly|       Male| 22160|Business Development|                14|
|  6|   Mellisa|     Jinks|     Female| 37349|         Engineering|                 7|
|  8|   Chantal|     Judge|     Female| 38240|         Engineering|                 7|
| 48|    Farley|   Oscroft|       Male| 31115|         Engineering|                 7|
| 65|     Staci| Northedge|     Female| 33999|         Engineering|                 7|
| 67|    Kellen|Antonomoli|Genderqueer| 37628|         Engineering|                 7|
| 78|   Teodoor|     Lomas|       Male| 38660|         Engineering|                 7|
| 80|   Rozanne|Portsmouth|     Female| 23597|         Engineering|                 7|
| 28|     Amery|    Tiller|       Male| 41977|     Human Resources|                 4|
| 36|   Jsandye| Cushworth|     Female| 45056|     Human Resources|                 4|
| 53|      Isis|   Sturror|     Female| 41192|     Human Resources|                 4|
| 81|    Catina|  Strivens|     Female| 43881|     Human Resources|                 4|
| 19|    Kalila|  Gribbell|     Female| 32287|               Legal|                10|
| 20|    Fredek|   Sergant|       Male| 37034|               Legal|                10|
| 21|   Cassius|   Dalwood|       Male| 30771|               Legal|                10|
| 33|  Angelina|    Alldre|   Bigender| 43793|               Legal|                10|
| 35| Anneliese|     Detoc|     Female| 47444|               Legal|                10|
| 43|Ermentrude|   Heisler|     Female| 40477|               Legal|                10|
| 56|  Kathrine|   Digweed|     Female| 32757|               Legal|                10|
| 59|    Nester|    Reisen|       Male| 47303|               Legal|                10|
| 74|    Darryl|   Bramley|Genderqueer| 46679|               Legal|                10|
| 93|    Linoel|    Monini|       Male| 27141|               Legal|                10|
|  4|     Essie|   Quixley|     Female| 20111|           Marketing|                 6|
| 26|   Grethel|    Pigott|     Female| 38242|           Marketing|                 6|
| 40|   Miquela|    Lansly|   Bigender| 21380|           Marketing|                 6|
| 51|  Meredeth|   Robeson|       Male| 31400|           Marketing|                 6|
| 83|  Rafferty|    Falcus|       Male| 45952|           Marketing|                 6|
|100|     Bevvy|   Bantham|     Female| 35456|           Marketing|                 6|
| 22| Blondelle|     Aubry|     Female| 22953|  Product Management|                 4|
| 34|      Kipp|  Preskett|     Female| 20394|  Product Management|                 4|
| 38|    Iorgos|  Lorrimer|       Male| 24260|  Product Management|                 4|
| 76|   Vincenz|  Bertrand|       Male| 40036|  Product Management|                 4|
+---+----------+----------+-----------+------+--------------------+------------------+
only showing top 55 rows

**Sum Functions**

In [93]:
Employee_df.withColumn("total_money_spent_on_salaries",F.sum("salary").over(Window.partitionBy("dept").orderBy("salary"))).show()

+---+----------+----------+-------+------+--------------------+-----------------------------+
| id|first_name| last_name| gender|salary|                dept|total_money_spent_on_salaries|
+---+----------+----------+-------+------+--------------------+-----------------------------+
| 32|    Nancee|   Sibbert| Female| 22281|          Accounting|                        22281|
| 14|   Micaela|Josifovitz| Female| 26098|          Accounting|                        48379|
| 13|   Hoebart|   Sillito|   Male| 29249|          Accounting|                        77628|
| 69|     Sheba|    Edwins| Female| 34164|          Accounting|                       111792|
| 12|     Dawna|    Ambage|Agender| 37374|          Accounting|                       149166|
| 11|   Thornie|  Stidever|   Male| 38823|          Accounting|                       187989|
| 91|       Ray|    Collop| Female| 38947|          Accounting|                       226936|
| 85|   Ardelia|    Bayley| Female| 47814|          Accounting|                       274750|
| 84|     Avrit|    Marrow| Female| 48311|          Accounting|                       323061|
| 92|    Mellie|   O'Brien| Female| 48672|          Accounting|                       371733|
| 95|     Niall|  O'Reilly|   Male| 22160|Business Development|                        22160|
| 70|   Osbourn|  Jordison|   Male| 23465|Business Development|                        45625|
| 29|  Hendrika|    Belham| Female| 27322|Business Development|                        72947|
| 73|  Johnette|     Aasaf| Female| 27811|Business Development|                       100758|
| 62|  Elianore|   Sarjant| Female| 29842|Business Development|                       130600|
| 42|      Nana|    Meijer| Female| 33268|Business Development|                       163868|
|  2|    Corbin|     Prahm|   Male| 34566|Business Development|                       198434|
| 86|  Jermayne|Espinheira|   Male| 36733|Business Development|                       235167|
| 10|    Laurie|   Burcher|   Male| 42245|Business Development|                       277412|
| 41|   Rickert|   Farrand|   Male| 42256|Business Development|                       319668|
+---+----------+----------+-------+------+--------------------+-----------------------------+
only showing top 20 rows

**Row_Number Function**

In [102]:
Employee_df.withColumn("Row_Number",F.row_number().over(Window.partitionBy("dept").orderBy(F.col("salary").desc()))).show()

+---+----------+----------+-------+------+--------------------+----------+
| id|first_name| last_name| gender|salary|                dept|Row_Number|
+---+----------+----------+-------+------+--------------------+----------+
| 92|    Mellie|   O'Brien| Female| 48672|          Accounting|         1|
| 84|     Avrit|    Marrow| Female| 48311|          Accounting|         2|
| 85|   Ardelia|    Bayley| Female| 47814|          Accounting|         3|
| 91|       Ray|    Collop| Female| 38947|          Accounting|         4|
| 11|   Thornie|  Stidever|   Male| 38823|          Accounting|         5|
| 12|     Dawna|    Ambage|Agender| 37374|          Accounting|         6|
| 69|     Sheba|    Edwins| Female| 34164|          Accounting|         7|
| 13|   Hoebart|   Sillito|   Male| 29249|          Accounting|         8|
| 14|   Micaela|Josifovitz| Female| 26098|          Accounting|         9|
| 32|    Nancee|   Sibbert| Female| 22281|          Accounting|        10|
| 60|    Kylila|  Redholls| Female| 46474|Business Development|         1|
| 71|  Waldemar|   Akister|   Male| 46323|Business Development|         2|
| 15|     Junie|  Prudence| Female| 44986|Business Development|         3|
| 18|   Alameda|      Kira| Female| 44039|Business Development|         4|
| 41|   Rickert|   Farrand|   Male| 42256|Business Development|         5|
| 10|    Laurie|   Burcher|   Male| 42245|Business Development|         6|
| 86|  Jermayne|Espinheira|   Male| 36733|Business Development|         7|
|  2|    Corbin|     Prahm|   Male| 34566|Business Development|         8|
| 42|      Nana|    Meijer| Female| 33268|Business Development|         9|
| 62|  Elianore|   Sarjant| Female| 29842|Business Development|        10|
+---+----------+----------+-------+------+--------------------+----------+
only showing top 20 rows

**Rank**

In [104]:
Employee_df.withColumn("rank",F.rank().over(Window.partitionBy("dept").orderBy(F.col("salary").desc()))).show()

+---+----------+----------+-------+------+--------------------+----+
| id|first_name| last_name| gender|salary|                dept|rank|
+---+----------+----------+-------+------+--------------------+----+
| 92|    Mellie|   O'Brien| Female| 48672|          Accounting|   1|
| 84|     Avrit|    Marrow| Female| 48311|          Accounting|   2|
| 85|   Ardelia|    Bayley| Female| 47814|          Accounting|   3|
| 91|       Ray|    Collop| Female| 38947|          Accounting|   4|
| 11|   Thornie|  Stidever|   Male| 38823|          Accounting|   5|
| 12|     Dawna|    Ambage|Agender| 37374|          Accounting|   6|
| 69|     Sheba|    Edwins| Female| 34164|          Accounting|   7|
| 13|   Hoebart|   Sillito|   Male| 29249|          Accounting|   8|
| 14|   Micaela|Josifovitz| Female| 26098|          Accounting|   9|
| 32|    Nancee|   Sibbert| Female| 22281|          Accounting|  10|
| 60|    Kylila|  Redholls| Female| 46474|Business Development|   1|
| 71|  Waldemar|   Akister|   Male| 46323|Business Development|   2|
| 15|     Junie|  Prudence| Female| 44986|Business Development|   3|
| 18|   Alameda|      Kira| Female| 44039|Business Development|   4|
| 41|   Rickert|   Farrand|   Male| 42256|Business Development|   5|
| 10|    Laurie|   Burcher|   Male| 42245|Business Development|   6|
| 86|  Jermayne|Espinheira|   Male| 36733|Business Development|   7|
|  2|    Corbin|     Prahm|   Male| 34566|Business Development|   8|
| 42|      Nana|    Meijer| Female| 33268|Business Development|   9|
| 62|  Elianore|   Sarjant| Female| 29842|Business Development|  10|
+---+----------+----------+-------+------+--------------------+----+
only showing top 20 rows

**Dense Rank**

In [107]:
Employee_df.withColumn("dense_rank",F.dense_rank().over(Window.partitionBy("dept").orderBy(F.col("salary").desc()))).show()

+---+----------+----------+-------+------+--------------------+----------+
| id|first_name| last_name| gender|salary|                dept|dense_rank|
+---+----------+----------+-------+------+--------------------+----------+
| 92|    Mellie|   O'Brien| Female| 48672|          Accounting|         1|
| 84|     Avrit|    Marrow| Female| 48311|          Accounting|         2|
| 85|   Ardelia|    Bayley| Female| 47814|          Accounting|         3|
| 91|       Ray|    Collop| Female| 38947|          Accounting|         4|
| 11|   Thornie|  Stidever|   Male| 38823|          Accounting|         5|
| 12|     Dawna|    Ambage|Agender| 37374|          Accounting|         6|
| 69|     Sheba|    Edwins| Female| 34164|          Accounting|         7|
| 13|   Hoebart|   Sillito|   Male| 29249|          Accounting|         8|
| 14|   Micaela|Josifovitz| Female| 26098|          Accounting|         9|
| 32|    Nancee|   Sibbert| Female| 22281|          Accounting|        10|
| 60|    Kylila|  Redholls| Female| 46474|Business Development|         1|
| 71|  Waldemar|   Akister|   Male| 46323|Business Development|         2|
| 15|     Junie|  Prudence| Female| 44986|Business Development|         3|
| 18|   Alameda|      Kira| Female| 44039|Business Development|         4|
| 41|   Rickert|   Farrand|   Male| 42256|Business Development|         5|
| 10|    Laurie|   Burcher|   Male| 42245|Business Development|         6|
| 86|  Jermayne|Espinheira|   Male| 36733|Business Development|         7|
|  2|    Corbin|     Prahm|   Male| 34566|Business Development|         8|
| 42|      Nana|    Meijer| Female| 33268|Business Development|         9|
| 62|  Elianore|   Sarjant| Female| 29842|Business Development|        10|
+---+----------+----------+-------+------+--------------------+----------+
only showing top 20 rows

In [114]:
Employee_df.withColumn("Ntile",F.ntile(4).over(Window.partitionBy().orderBy(F.col("id")))).show(100)

+---+----------+------------+-----------+------+--------------------+-----+
| id|first_name|   last_name|     gender|salary|                dept|Ntile|
+---+----------+------------+-----------+------+--------------------+-----+
|  1| Marmaduke|    Akenhead|       Male| 36478|            Training|    1|
|  2|    Corbin|       Prahm|       Male| 34566|Business Development|    1|
|  3|   Halette|      Yersin|     Female| 43506|Research and Deve...|    1|
|  4|     Essie|     Quixley|     Female| 20111|           Marketing|    1|
|  5|  Brandice|      Boyles|     Female| 28720|            Training|    1|
|  6|   Mellisa|       Jinks|     Female| 37349|         Engineering|    1|
|  7|     Berty|     Gulston|       Male| 48303|Research and Deve...|    1|
|  8|   Chantal|       Judge|     Female| 38240|         Engineering|    1|
|  9|   Jeniece|     Burnand|     Female| 22241|            Training|    1|
| 10|    Laurie|     Burcher|       Male| 42245|Business Development|    1|
| 11|   Thornie|    Stidever|       Male| 38823|          Accounting|    1|
| 12|     Dawna|      Ambage|    Agender| 37374|          Accounting|    1|
| 13|   Hoebart|     Sillito|       Male| 29249|          Accounting|    1|
| 14|   Micaela|  Josifovitz|     Female| 26098|          Accounting|    1|
| 15|     Junie|    Prudence|     Female| 44986|Business Development|    1|
| 16|    Dorrie|       Fisby|     Female| 30987|Research and Deve...|    1|
| 17|     Ediva|      Binnie|     Female| 39402|Research and Deve...|    1|
| 18|   Alameda|        Kira|     Female| 44039|Business Development|    1|
| 19|    Kalila|    Gribbell|     Female| 32287|               Legal|    1|
| 20|    Fredek|     Sergant|       Male| 37034|               Legal|    1|
| 21|   Cassius|     Dalwood|       Male| 30771|               Legal|    1|
| 22| Blondelle|       Aubry|     Female| 22953|  Product Management|    1|
| 23|   Pandora|Van den Oord|     Female| 22786|               Sales|    1|
| 24|     Marti|        Fend|     Female| 42487|Research and Deve...|    1|
| 25|     Brenn|     Necolds|     Female| 45639|Research and Deve...|    1|
| 26|   Grethel|      Pigott|     Female| 38242|           Marketing|    2|
| 27|     Micki|   Cultcheth|     Female| 39364|Research and Deve...|    2|
| 28|     Amery|      Tiller|       Male| 41977|     Human Resources|    2|
| 29|  Hendrika|      Belham|     Female| 27322|Business Development|    2|
| 30|     Rudie|    Longhorn|       Male| 43614|             Support|    2|
| 31|     Manny|     Whitlam| Non-binary| 42732|            Services|    2|
| 32|    Nancee|     Sibbert|     Female| 22281|          Accounting|    2|
| 33|  Angelina|      Alldre|   Bigender| 43793|               Legal|    2|
| 34|      Kipp|    Preskett|     Female| 20394|  Product Management|    2|
| 35| Anneliese|       Detoc|     Female| 47444|               Legal|    2|
| 36|   Jsandye|   Cushworth|     Female| 45056|     Human Resources|    2|
| 37|       Ode|       Latch|       Male| 29168|             Support|    2|
| 38|    Iorgos|    Lorrimer|       Male| 24260|  Product Management|    2|
| 39|   Nicolle|       Heyns|     Female| 24865|            Training|    2|
| 40|   Miquela|      Lansly|   Bigender| 21380|           Marketing|    2|
| 41|   Rickert|     Farrand|       Male| 42256|Business Development|    2|
| 42|      Nana|      Meijer|     Female| 33268|Business Development|    2|
| 43|Ermentrude|     Heisler|     Female| 40477|               Legal|    2|
| 44|    Catlin|    Enrietto|     Female| 25478|Research and Deve...|    2|
| 45|      Cory|     Cobbing|Genderfluid| 30836|               Sales|    2|
| 46|  Giordano|      Osmond|       Male| 28718|            Services|    2|
| 47|    Robbyn|      Connah|     Female| 34844|            Training|    2|
| 48|    Farley|     Oscroft|       Male| 31115|         Engineering|    2|
| 49|      Cody|     Dollman|       Male| 35620|            Training|    2|
| 50|    Ursala|        Carn|   Bigender| 24560|               Sales|    2|
| 51|  Meredeth|     Robeson|       Male| 31400|           Marketing|    3|
| 52|     Franz|     Renison|       Male| 30004|            Services|    3|
| 53|      Isis|     Sturror|     Female| 41192|     Human Resources|    3|
| 54|    Trixie|     MacPhee|     Female| 23501|Research and Deve...|    3|
| 55|    Carina|       Apfel|     Female| 42876|            Services|    3|
| 56|  Kathrine|     Digweed|     Female| 32757|               Legal|    3|
| 57|   Yolanda|  O'Driscole|     Female| 21140|            Services|    3|
| 58|    Derrik|     Hollows|       Male| 34595|            Services|    3|
| 59|    Nester|      Reisen|       Male| 47303|               Legal|    3|
| 60|    Kylila|    Redholls|     Female| 46474|Business Development|    3|
| 61|  Crichton|     Aldwich|       Male| 28227|             Support|    3|
| 62|  Elianore|     Sarjant|     Female| 29842|Business Development|    3|
| 63|  Giovanna|     Mollitt|     Female| 48538|            Training|    3|
| 64|   Obadiah|       Deere|       Male| 26792|            Training|    3|
| 65|     Staci|   Northedge|     Female| 33999|         Engineering|    3|
| 66|      Dasi|      Cruces|     Female| 43649|Research and Deve...|    3|
| 67|    Kellen|  Antonomoli|Genderqueer| 37628|         Engineering|    3|
| 68|     Roman|  Reichhardt|       Male| 30528|               Sales|    3|
| 69|     Sheba|      Edwins|     Female| 34164|          Accounting|    3|
| 70|   Osbourn|    Jordison|       Male| 23465|Business Development|    3|
| 71|  Waldemar|     Akister|       Male| 46323|Business Development|    3|
| 72|      Tove|    Judgkins|     Female| 41458|             Support|    3|
| 73|  Johnette|       Aasaf|     Female| 27811|Business Development|    3|
| 74|    Darryl|     Bramley|Genderqueer| 46679|               Legal|    3|
| 75|       Nil|     Worrill|       Male| 41363|Research and Deve...|    3|
| 76|   Vincenz|    Bertrand|       Male| 40036|  Product Management|    4|
| 77| Marmaduke|       Covey|       Male| 42706|            Services|    4|
| 78|   Teodoor|       Lomas|       Male| 38660|         Engineering|    4|
| 79|  Mitchell|      Missen|       Male| 33926|Research and Deve...|    4|
| 80|   Rozanne|  Portsmouth|     Female| 23597|         Engineering|    4|
| 81|    Catina|    Strivens|     Female| 43881|     Human Resources|    4|
| 82|    Herold|        Doud|       Male| 28566|            Services|    4|
| 83|  Rafferty|      Falcus|       Male| 45952|           Marketing|    4|
| 84|     Avrit|      Marrow|     Female| 48311|          Accounting|    4|
| 85|   Ardelia|      Bayley|     Female| 47814|          Accounting|    4|
| 86|  Jermayne|  Espinheira|       Male| 36733|Business Development|    4|
| 87|     Alexa|   Camilleri|     Female| 27579|Research and Deve...|    4|
| 88|     Brien|   Spawforth|       Male| 47252|               Sales|    4|
| 89|      Fawn|    Pagelsen|     Female| 27703|            Training|    4|
| 90|    Monroe|   Bottleson|       Male| 41801|            Services|    4|
| 91|       Ray|      Collop|     Female| 38947|          Accounting|    4|
| 92|    Mellie|     O'Brien|     Female| 48672|          Accounting|    4|
| 93|    Linoel|      Monini|       Male| 27141|               Legal|    4|
| 94|    Trixie|       Laing|     Female| 40720|            Training|    4|
| 95|     Niall|    O'Reilly|       Male| 22160|Business Development|    4|
| 96|    Ginnie|      Grogan|     Female| 39587|            Training|    4|
| 97|     Lindi|    Hinrichs|     Female| 47851|               Sales|    4|
| 98| Cristobal|    Zuanazzi|       Male| 27660|            Training|    4|
| 99|     Efrem|     Gosnall|       Male| 39760|Research and Deve...|    4|
|100|     Bevvy|     Bantham|     Female| 35456|           Marketing|    4|
+---+----------+------------+-----------+------+--------------------+-----+

In [118]:
Employee_df.withColumn("first_value_of_department_top_salaried",F.first_value("salary").over(Window.partitionBy("dept").orderBy(F.col("salary").desc()))).orderBy("dept").show(100)

+---+----------+------------+-----------+------+--------------------+--------------------------------------+
| id|first_name|   last_name|     gender|salary|                dept|first_value_of_department_top_salaried|
+---+----------+------------+-----------+------+--------------------+--------------------------------------+
| 92|    Mellie|     O'Brien|     Female| 48672|          Accounting|                                 48672|
| 84|     Avrit|      Marrow|     Female| 48311|          Accounting|                                 48672|
| 85|   Ardelia|      Bayley|     Female| 47814|          Accounting|                                 48672|
| 91|       Ray|      Collop|     Female| 38947|          Accounting|                                 48672|
| 11|   Thornie|    Stidever|       Male| 38823|          Accounting|                                 48672|
| 12|     Dawna|      Ambage|    Agender| 37374|          Accounting|                                 48672|
| 69|     Sheba|      Edwins|     Female| 34164|          Accounting|                                 48672|
| 13|   Hoebart|     Sillito|       Male| 29249|          Accounting|                                 48672|
| 14|   Micaela|  Josifovitz|     Female| 26098|          Accounting|                                 48672|
| 32|    Nancee|     Sibbert|     Female| 22281|          Accounting|                                 48672|
| 60|    Kylila|    Redholls|     Female| 46474|Business Development|                                 46474|
| 71|  Waldemar|     Akister|       Male| 46323|Business Development|                                 46474|
| 15|     Junie|    Prudence|     Female| 44986|Business Development|                                 46474|
| 18|   Alameda|        Kira|     Female| 44039|Business Development|                                 46474|
| 41|   Rickert|     Farrand|       Male| 42256|Business Development|                                 46474|
| 10|    Laurie|     Burcher|       Male| 42245|Business Development|                                 46474|
| 86|  Jermayne|  Espinheira|       Male| 36733|Business Development|                                 46474|
|  2|    Corbin|       Prahm|       Male| 34566|Business Development|                                 46474|
| 42|      Nana|      Meijer|     Female| 33268|Business Development|                                 46474|
| 62|  Elianore|     Sarjant|     Female| 29842|Business Development|                                 46474|
| 73|  Johnette|       Aasaf|     Female| 27811|Business Development|                                 46474|
| 29|  Hendrika|      Belham|     Female| 27322|Business Development|                                 46474|
| 70|   Osbourn|    Jordison|       Male| 23465|Business Development|                                 46474|
| 95|     Niall|    O'Reilly|       Male| 22160|Business Development|                                 46474|
| 78|   Teodoor|       Lomas|       Male| 38660|         Engineering|                                 38660|
|  8|   Chantal|       Judge|     Female| 38240|         Engineering|                                 38660|
| 67|    Kellen|  Antonomoli|Genderqueer| 37628|         Engineering|                                 38660|
|  6|   Mellisa|       Jinks|     Female| 37349|         Engineering|                                 38660|
| 65|     Staci|   Northedge|     Female| 33999|         Engineering|                                 38660|
| 48|    Farley|     Oscroft|       Male| 31115|         Engineering|                                 38660|
| 80|   Rozanne|  Portsmouth|     Female| 23597|         Engineering|                                 38660|
| 36|   Jsandye|   Cushworth|     Female| 45056|     Human Resources|                                 45056|
| 81|    Catina|    Strivens|     Female| 43881|     Human Resources|                                 45056|
| 28|     Amery|      Tiller|       Male| 41977|     Human Resources|                                 45056|
| 53|      Isis|     Sturror|     Female| 41192|     Human Resources|                                 45056|
| 35| Anneliese|       Detoc|     Female| 47444|               Legal|                                 47444|
| 59|    Nester|      Reisen|       Male| 47303|               Legal|                                 47444|
| 74|    Darryl|     Bramley|Genderqueer| 46679|               Legal|                                 47444|
| 33|  Angelina|      Alldre|   Bigender| 43793|               Legal|                                 47444|
| 43|Ermentrude|     Heisler|     Female| 40477|               Legal|                                 47444|
| 20|    Fredek|     Sergant|       Male| 37034|               Legal|                                 47444|
| 56|  Kathrine|     Digweed|     Female| 32757|               Legal|                                 47444|
| 19|    Kalila|    Gribbell|     Female| 32287|               Legal|                                 47444|
| 21|   Cassius|     Dalwood|       Male| 30771|               Legal|                                 47444|
| 93|    Linoel|      Monini|       Male| 27141|               Legal|                                 47444|
| 83|  Rafferty|      Falcus|       Male| 45952|           Marketing|                                 45952|
| 26|   Grethel|      Pigott|     Female| 38242|           Marketing|                                 45952|
|100|     Bevvy|     Bantham|     Female| 35456|           Marketing|                                 45952|
| 51|  Meredeth|     Robeson|       Male| 31400|           Marketing|                                 45952|
| 40|   Miquela|      Lansly|   Bigender| 21380|           Marketing|                                 45952|
|  4|     Essie|     Quixley|     Female| 20111|           Marketing|                                 45952|
| 76|   Vincenz|    Bertrand|       Male| 40036|  Product Management|                                 40036|
| 38|    Iorgos|    Lorrimer|       Male| 24260|  Product Management|                                 40036|
| 22| Blondelle|       Aubry|     Female| 22953|  Product Management|                                 40036|
| 34|      Kipp|    Preskett|     Female| 20394|  Product Management|                                 40036|
|  7|     Berty|     Gulston|       Male| 48303|Research and Deve...|                                 48303|
| 25|     Brenn|     Necolds|     Female| 45639|Research and Deve...|                                 48303|
| 66|      Dasi|      Cruces|     Female| 43649|Research and Deve...|                                 48303|
|  3|   Halette|      Yersin|     Female| 43506|Research and Deve...|                                 48303|
| 24|     Marti|        Fend|     Female| 42487|Research and Deve...|                                 48303|
| 75|       Nil|     Worrill|       Male| 41363|Research and Deve...|                                 48303|
| 99|     Efrem|     Gosnall|       Male| 39760|Research and Deve...|                                 48303|
| 17|     Ediva|      Binnie|     Female| 39402|Research and Deve...|                                 48303|
| 27|     Micki|   Cultcheth|     Female| 39364|Research and Deve...|                                 48303|
| 79|  Mitchell|      Missen|       Male| 33926|Research and Deve...|                                 48303|
| 16|    Dorrie|       Fisby|     Female| 30987|Research and Deve...|                                 48303|
| 87|     Alexa|   Camilleri|     Female| 27579|Research and Deve...|                                 48303|
| 44|    Catlin|    Enrietto|     Female| 25478|Research and Deve...|                                 48303|
| 54|    Trixie|     MacPhee|     Female| 23501|Research and Deve...|                                 48303|
| 97|     Lindi|    Hinrichs|     Female| 47851|               Sales|                                 47851|
| 88|     Brien|   Spawforth|       Male| 47252|               Sales|                                 47851|
| 45|      Cory|     Cobbing|Genderfluid| 30836|               Sales|                                 47851|
| 68|     Roman|  Reichhardt|       Male| 30528|               Sales|                                 47851|
| 50|    Ursala|        Carn|   Bigender| 24560|               Sales|                                 47851|
| 23|   Pandora|Van den Oord|     Female| 22786|               Sales|                                 47851|
| 55|    Carina|       Apfel|     Female| 42876|            Services|                                 42876|
| 31|     Manny|     Whitlam| Non-binary| 42732|            Services|                                 42876|
| 77| Marmaduke|       Covey|       Male| 42706|            Services|                                 42876|
| 90|    Monroe|   Bottleson|       Male| 41801|            Services|                                 42876|
| 58|    Derrik|     Hollows|       Male| 34595|            Services|                                 42876|
| 52|     Franz|     Renison|       Male| 30004|            Services|                                 42876|
| 46|  Giordano|      Osmond|       Male| 28718|            Services|                                 42876|
| 82|    Herold|        Doud|       Male| 28566|            Services|                                 42876|
| 57|   Yolanda|  O'Driscole|     Female| 21140|            Services|                                 42876|
| 30|     Rudie|    Longhorn|       Male| 43614|             Support|                                 43614|
| 72|      Tove|    Judgkins|     Female| 41458|             Support|                                 43614|
| 37|       Ode|       Latch|       Male| 29168|             Support|                                 43614|
| 61|  Crichton|     Aldwich|       Male| 28227|             Support|                                 43614|
| 63|  Giovanna|     Mollitt|     Female| 48538|            Training|                                 48538|
| 94|    Trixie|       Laing|     Female| 40720|            Training|                                 48538|
| 96|    Ginnie|      Grogan|     Female| 39587|            Training|                                 48538|
|  1| Marmaduke|    Akenhead|       Male| 36478|            Training|                                 48538|
| 49|      Cody|     Dollman|       Male| 35620|            Training|                                 48538|
| 47|    Robbyn|      Connah|     Female| 34844|            Training|                                 48538|
|  5|  Brandice|      Boyles|     Female| 28720|            Training|                                 48538|
| 89|      Fawn|    Pagelsen|     Female| 27703|            Training|                                 48538|
| 98| Cristobal|    Zuanazzi|       Male| 27660|            Training|                                 48538|
| 64|   Obadiah|       Deere|       Male| 26792|            Training|                                 48538|
| 39|   Nicolle|       Heyns|     Female| 24865|            Training|                                 48538|
|  9|   Jeniece|     Burnand|     Female| 22241|            Training|                                 48538|
+---+----------+------------+-----------+------+--------------------+--------------------------------------+